<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img ngSrc="assets/add-user-svgrepo-com.svg" priority="" alt="" height="100" width="100">
        </div>
        <h1 class="text-center">
          Registrate aquí
        </h1>
        <form (ngSubmit)="formSubmit()">

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese un usuario</mat-label>
            <input required [(ngModel)]="user.username" name="username" type="text" matInput placeholder="Digite un usuario">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese una contraseña</mat-label>
            <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Digite una cotraseña">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese su nombres</mat-label>
            <input required [(ngModel)]="user.nombre" name="nombres" type="text" matInput placeholder="Digite su nombres">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese su apellidos</mat-label>
            <input required [(ngModel)]="user.apellido" name="apellidos" type="text" matInput placeholder="Digite su apellidos">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese su numero de telefono</mat-label>
            <input required [(ngModel)]="user.telefono" name="telefono" type="tel" matInput placeholder="Digite su numero de telefono">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese su email</mat-label>
            <input required [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Digite su email">
          </mat-form-field>

          <div class="container text-center">
            <button mat-raised-button color="primary" type="submit">
              Registrar
            </button>
            <button mat-raised-button color="accent" style="margin-left: 20px" type="reset">
              Limpiar
            </button>
          </div>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
